*.pyc
*~
*#
proxy_gen_upgrades/profiler/fp_alu_log.txt
proxy_gen_upgrades/profiler/mix.i.out
proxy_gen_upgrades/profiler/pinball_out/
scratch/
proxy_gen_upgrades/proxygen/outputs_regressions/pinballs_brv3/